* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  font-family: "Roboto", sans-serif;
}

header {
  /* position: absolute; */
  /* position: relative; */
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 5rem;
  left: 0;
  top: 0;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

header h1 {
  /* position: absolute; */
  position: relative;
  width: 473px;
  height: 47px;
  left: 266px;
  top: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

.blockHero {
  position: relative;

  /* border: 1px solid red; */
  width: 944px;
  top: 0px;
  /* height: 118px;
  left: 266px; */
}

.btnGit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 193px;
  height: 41px;
  /* left: 0px; */
  top: 0px;
  right: 0;
  background: #ce0033;
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

h2 {
  /* position: absolute; */
  /* position: absolute; */
  width: 322px;
  height: 38px;
  left: 266px;
  top: 122px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

#div1,
#div2,
#div3 {
  position: relative;
}

h3 {
  position: absolute;
  margin: 19px 0 5px 15px;
}

ol {
  position: absolute;
  margin: 70px 10px 10px;
}

li {
  list-style-image: url(../images/bullet.png);
  margin: 10px 20px;
}
.div {
  width: 943px;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  overflow: hidden;
  transition: 0.5s ease;
}

#flex {
  position: relative;
  /* border: 1px solid red; */
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#flex div {
  /* border: 1px solid red; */
  margin: 2% 0;
}
#grace {
  position: relative;
  padding-top: 50px;
  right: 5.5rem;
}

.white {
  opacity: 0;
}

#javascript {
  /* position: absolute; */
  width: 943px;
  height: 192px;
  left: 266px;
  top: 878px;
  background-color: #e4e4e4;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#javascript p {
  margin-left: 20px;
}

#div1 {
  overflow: hidden;
}

#div3 p {
  position: relative;
  top: 50px;
  left: 15px;
}

#instruction {
  position: relative;
  width: 472px;
  height: 57px;
  top: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

#mon-bouton {
  /* position: absolute; */
  width: 193px;
  height: 41px;
  left: 641px;
  top: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;

  background: #ce0033;
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  * {
    font-size: 1rem;
  }
  body {
    /* background-color: rgb(223, 172, 172); */
    overflow-x: hidden;
    overflow-y: scroll;
  }
  h2 {
    position: relative;

    top: 0;
    left: 5rem;
  }
  .btnGit {
    right: 5rem;
  }
  .div {
    /* width: 8rem; */
    width: 50rem;
  }
  #instruction {
    right: -5rem;
  }
  #javascript {
    width: 50rem;
  }
  #grace {
    right: 1rem;
  }
}

@media screen and (max-width: 850px) {
  body {
    /* background-color: rgb(175, 133, 133); */
    overflow: hidden;
    overflow-y: scroll;
  }
  /* header {
    text-align: center;
    margin-right: 20rem;
    right: 20rem;
  } */
  h2 {
    /* position: relative; */
    display: inline;
    font-size: 4.7rem;
    top: 3rem;
  }
  #instruction {
    /* display: inline; */
    /* border: 1px solid black; */
    width: 95vh;
    /* height: 5rem; */
    font-size: 1.5rem;
    letter-spacing: 0.005rem;
    line-height: 1.5rem;
    padding-bottom: 7rem;
  }
  .btnGit {
    /* position: absolute; */
    position: relative;
    left: 23rem;
    top: 10rem;
    /* bottom: 0; */
    color: Black;
  }
  #div1,
  #div2,
  #div3,
  h3 {
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    margin-bottom: 10rem;
  }
  h3 {
    font-size: 1.5rem;
    /* text-align: center; */
    display: inline;
  }
  #div3 p {
    /* padding-bottom: 3rem; */
    padding-top: 1.5rem;
    padding-right: 2rem;
  }
  /* #grace {
    font-size: 1.1rem;
  } */
}

@media screen and (max-width: 820px) {
  body {
    /* background-color: red; */
  }
  #div1,
  #div2,
  #div3,
  #javascript {
    width: 45rem;
  }
  #instruction {
    width: 45rem;
    font-size: 1.4rem;
    /* border: 1px solid red; */
    margin-left: 2rem;
  }
  #grace {
    text-align: center;
    width: 40rem;
    margin-left: 2rem;
    /* border: 3px solid black; */
  }
}

@media screen and (max-width: 780px) {
  body {
    /* background-color: rgb(213, 163, 163); */
  }
  header H1 {
    left: 10rem;
  }
  h2 {
    font-size: 3.5rem;
    left: 10rem;
  }
  #instruction {
    /* border: 3px solid black; */
    margin-top: 1rem;
  }
  .btnGit {
    top: 12rem;
  }
}

@media screen and (max-width: 720px) {
  body {
    /* background-color: rgb(155, 118, 118); */
  }
  #instruction {
    left: 7rem;
    text-align: center;
    width: 40rem;
    margin-left: 2rem;
    /* border: 3px solid black; */
  }
  #div1,
  #div2,
  #div3,
  #javascript {
    width: 35rem;
  }
}
@media screen and (max-width: 670px) {
  header h1 {
    left: 6rem;
  }
}

@media screen and (max-width: 630px) {
  body {
    /* background-color: rgb(224, 189, 189); */
    overflow-y: scroll;
  }
  header h1 {
    left: 5rem;
  }
  h2 {
    left: 12rem;
  }
  #instruction {
    width: 30rem;
    left: 12rem;
    /* border: 3px solid black; */
    height: 7rem;
  }
  .btnGit {
    top: 15rem;
  }
  #grace {
    width: 30rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 570px) {
  body {
    /* background-color: rgb(187, 161, 161); */
  }
  header h1 {
    left: 2.5rem;
  }
  h2 {
    font-size: 3rem;
    left: 15rem;
  }
  #div1,
  #div2,
  #div3,
  #javascript {
    width: 30rem;
  }
}

@media screen and (max-width: 520px) {
  body {
    /* background-color: rgb(200, 177, 177); */
  }
  header h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2.2rem;
    left: 18rem;
  }
  #instruction {
    width: 20rem;
    left: 17rem;
  }
  #div1,
  #div2,
  #div3,
  #javascript {
    width: 27rem;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    /* background-color: rgb(224, 196, 196); */
  }
  header h1 {
    font-size: 1.8rem;
    left: 4rem;
  }
  #div1,
  #div2,
  #div3,
  #javascript {
    width: 23rem;
  }
  #grace {
    width: 22rem;
  }
}
@media screen and (max-width: 440px) {
  header h1 {
    left: 3rem;
  }
}
@media screen and (max-width: 400px) {
  header h1 {
    left: 1.4rem;
  }
}

@media screen and (max-width: 390px) {
  header h1 {
    font-size: 1.4rem;
    left: 2.8rem;
  }
  h2 {
    font-size: 1.7rem;
    left: 21rem;
  }
  #div1,
  #div2,
  #div3,
  #javascript {
    width: 20rem;
  }
}

@media screen and (max-width: 360px) {
  body {
    /* background-color: rgb(202, 178, 178); */
  }
  #grace {
    /* border: 1px solid black; */
    width: 14rem;
  }
}
@media screen and (max-width: 340px) {
  body {
    /* background-color: rgb(185, 161, 161); */
  }
  #instruction {
    width: 18rem;
    left: 18.2rem;
    padding-bottom: 10rem;
  }
  .btnGit {
    top: 17rem;
  }
  #div1,
  #div2,
  #div3,
  #javascript {
    width: 18rem;
  }
}
@media screen and (max-width: 320px) {
  body {
    background-color: rgb(227, 190, 190);
  }
  header h1 {
    left: 1rem;
  }
}
